{#
/**
 * @file
 * Default view template to display all the fields in a row.
 *
 * Available variables:
 * - view: The view in use.
 * - fields: A list of fields, each one contains:
 *   - content: The output of the field.
 *   - raw: The raw data for the field, if it exists. This is NOT output safe.
 *   - class: The safe class ID to use.
 *   - handler: The Views field handler controlling this field.
 *   - inline: Whether or not the field should be inline.
 *   - wrapper_element: An HTML element for a wrapper.
 *   - wrapper_attributes: List of attributes for wrapper element.
 *   - separator: An optional separator that may appear before a field.
 *   - label: The field's label text.
 *   - label_element: An HTML element for a label wrapper.
 *   - label_attributes: List of attributes for label wrapper.
 *   - label_suffix: Colon after the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 *   - has_label_colon: A boolean indicating whether to display a colon after
 *     the label.
 *   - element_type: An HTML element for the field content.
 *   - element_attributes: List of attributes for HTML element for field content.
 * - row: The raw result from the query, with all data it fetched.
 *
 * @see template_preprocess_views_view_fields()
 *
 * @ingroup themeable
 */
#}
{#
{% for field in fields -%}
  {{ field.separator }}
  {%- if field.wrapper_element -%}
    <{{ field.wrapper_element }}{{ field.wrapper_attributes }}>
  {%- endif %}
  {%- if field.label -%}
    {%- if field.label_element -%}
      <{{ field.label_element }}{{ field.label_attributes }}>{{ field.label }}{{ field.label_suffix }}</{{ field.label_element }}>
    {%- else -%}
      {{ field.label }}{{ field.label_suffix }}
    {%- endif %}
  {%- endif %}
  {%- if field.element_type -%}
    <{{ field.element_type }}{{ field.element_attributes }}>{{ field.content }}</{{ field.element_type }}>
  {%- else -%}
    {{ field.content }}
  {%- endif %}
  {%- if field.wrapper_element -%}
    </{{ field.wrapper_element }}>
  {%- endif %}
{%- endfor %}
#}
{% set field_amenities_type
<div id="internal" class="amenityTabs">
    <div class="thumbSlider">
        <div id="internalPaging" class="paging">
            <span class="currentSlide">1</span> / <span class="totalSlides"></span>
        </div>                                
        <div class="sliderAmenities flexslider" navFor="internalPaging">
            <ul class="slides flexImg">
                <li>
                {{ fields.field_amenities_slider.content }}
                <p class="flex-caption">Modern, fully air-conditioned residence Internal</p>
                </li>
            </ul>
        </div>

        
    </div>
    <div class="container">
    <ul class="listComponent">
            <li>Dedicated wardrobe niches, separate store room^, puja room and utility area</li>
            <li>Marbital速 flooring** in the living room, dining room, passage areas & bedrooms</li>
            <li>High-quality bath fittings by Roca, Kohler and Jaquar**</li>
        </ul>
        <ul class="listComponent hide" id="list1">
            <li>Dedicated wardrobe niches, separate store room^, puja room and utility area</li>
            <li>Marbital速 flooring** in the living room, dining room, passage areas & bedrooms</li>
            <li>High-quality bath fittings by Roca, Kohler and Jaquar**</li>
        </ul>
        <p class="toggleBtn"><a href="javascript:;" toggleContent="list1"><span class="more">More <span class="operators">+</span></span><span class="less">less <span class="operators">-</span></span></a></p>
        <p class="notes">*Except kitchen, passage and bathroom</p>
    </div>
</div>                            <div id="internal" class="amenityTabs">
    <div class="thumbSlider">
        <div id="internalPaging" class="paging">
            <span class="currentSlide">1</span> / <span class="totalSlides"></span>
        </div>                                
        <div class="sliderAmenities flexslider" navFor="internalPaging">
            <ul class="slides flexImg">
                <li>
                <img src="images/floor-plan.jpg" />
                <p class="flex-caption">Modern, fully air-conditioned residence Internal</p>
                </li>
                <li>
                <img src="images/floor-plan.jpg" />
                <p class="flex-caption">Modern, fully air-conditioned residence</p>
                </li>
                <li>
                <img src="images/floor-plan.jpg" />
                <p class="flex-caption">Modern, fully air-conditioned residence</p>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
    <ul class="listComponent">
            <li>Dedicated wardrobe niches, separate store room^, puja room and utility area</li>
            <li>Marbital速 flooring** in the living room, dining room, passage areas & bedrooms</li>
            <li>High-quality bath fittings by Roca, Kohler and Jaquar**</li>
        </ul>
        <ul class="listComponent hide" id="list1">
            <li>Dedicated wardrobe niches, separate store room^, puja room and utility area</li>
            <li>Marbital速 flooring** in the living room, dining room, passage areas & bedrooms</li>
            <li>High-quality bath fittings by Roca, Kohler and Jaquar**</li>
        </ul>
        <p class="toggleBtn"><a href="javascript:;" toggleContent="list1"><span class="more">More <span class="operators">+</span></span><span class="less">less <span class="operators">-</span></span></a></p>
        <p class="notes">*Except kitchen, passage and bathroom</p>
    </div>
</div>
